$base-red: #eb5757;
$base-gray: #ababab;
$base-blue: #2f80ed;
$base-orange: #f2994a;
$base-green: #27ae60;
$base-purple: #9b51e0;
$base-gradient: linear-gradient(#eb5757, #9b51e0);
$base-black: #342E37;

