.Dropdown {
  position: relative;
  border-radius: 8px;
  box-shadow: 0px 4px 4px 0px #00000040;
}

.Dropdown__Input {
  background-color: white;
  border: none;
  outline: none;
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  width: 9rem;
  align-items: center;
  text-transform: capitalize;

  &:hover {
    cursor: pointer;
  }
}

.Dropdown__Options {
  background-color: white;
  width: 9rem;
  position: absolute;
  z-index: 10;
  margin-top: 0.5rem;
  border-radius: 8px;
  padding: 0.5rem;
  text-transform: capitalize;
}
.Dropdown__Options__Option {
  padding: 0.5rem 0;
  border-radius: 8px;

  &:hover {
    background-color: grey;
    cursor: pointer;
  }
}

.Dropdown__Input.parentWidth,
.Dropdown__Options.parentWidth {
  width: 100%;
}
