@import '../../../styles/colors.scss';

.Todos {
  height: 50vh;
  padding: 1rem;
}
.Todos__Header {
  display: flex;
  align-items: center;
  font-family: 'SF Pro';
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 60px;
  color: #000000;
  text-transform: capitalize;
  margin-bottom: 1rem;
}
.Todos__Title {
  margin-right: 1rem;
}
.Categories__Category__Selected {
  font-weight: 600;
}
