@import '../../../styles/colors.scss';

.Todos {
  height: 50vh;
  padding: .5rem;
  width: 30rem;
  position: relative;
  overflow-y: scroll;
  overflow-x: hidden;
}

.Todos__Header {
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 10;
  width: 100%;
}
.Todos__Title {
  margin-right: 1rem;
  font-family: 'SF Pro';
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 60px;
  color: #000000;
  text-transform: capitalize;
  margin-bottom: 1rem;
}
.Categories__Category__Selected {
  font-weight: 600;
}

.Todos__AddComponent {
  position: absolute;
  // top: 0;
  right: 0;
  z-index: 10;
  margin: 0.5rem;
}
.Todos__TodosList {
}
