@import '../../../styles/colors.scss';

.Todo {
  display: flex;
  width: fit-content;
  align-items: center;
  margin: .5rem;
}

.Todo__Task {
  padding: 0 1rem;

  &__Checked {
    text-decoration: line-through;    color: $base-red;
  }
}
