@import '../../../styles/colors.scss';

.Todo {
  display: flex;
  width: fit-content;
  align-items: center;

  &__Checked {
    color: $base-red;
  }
}
.Todo__Task {
  padding: 0 1rem;

  &__Checked {
    text-decoration: line-through;
  }
}
