.AddTodo {
  box-shadow: 0px 4px 4px 0px #00000040;
  height: 10rem;
  width: 10rem;
  padding: 1rem;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
